# Ignore the build folder
/build

# Ignore all output and processing files
*.csv
RMatrixPlotter.py
*.ipynb

# Ignore Most .mac files
RMatrixGen1.mac

#Ignore Unfolded Spectra
/UnfoldedSpectra

#Ignore pngs and pdfs
*.png
*.pdf
*.dat
*.py
